<h2>Cinemas</h2>

<div class = "container">
	<iframe src="https://www.google.com/maps/d/embed?mid=zF9Svr0wvs1g.kujcZDi4gPjw" width=80% height="480"></iframe>
</div>

<div class = "row">
	<div class = "col-md-4" id = "moviecol">
		<h3><a href ="https://www.robinsonsmovieworld.com/">Robinsons Movieworld</a><h3>
		<p>2nd &amp; 4th Level Robinsons Place, Bgy 669, Zone 072 Ermita, Manila, Philippines</p>
		<br>
		<p>Robinsons Magnolia, Aurora Boulevard corner Doña M. Hemady Avenue, New Manila, Quezon City, 1100 Metro Manila, Philippines
		(02) 961 5275</p>
		<p>Robinsons Libis, No. 110, Eulogio Rodriguez Jr. Avenue, Bagumbayan, Libis, Quezon City, 1110 Metro Manila, Philippines
		(02) 395 0021</p>
	</div>
	<div class = "col-md-4" id = "moviecol">
		<h3><a href ="https://www.smcinema.com">SM Cinemas</a><h3>
		<p>IMAX Theater @ SM Mall of Asia, Ground Floor North Wing, SM Mall of Asia, Pasay City, 1308, Philippines
		(02) 556 0104</p>
		<p>Director's club Cinema, Mega D, L5 , SM Megamall, EDSA Corner J.Vargas Avenue , 1550 Mandaluyong City , Metro Manila, Philippines
		(02) 633 1901</p>
		<p>SM Manila, San Marcelino, Ermita, Manila, Metro Manila, Philippines</p>
	</div>
	<div class = "col-md-4" id = "moviecol">
		<h3><a href ="https://www.sureseats.com">Greenbelt Cinemas</a><h3>
		<p>Greenbelt 1, Paseo de Roxas, Makati, Metro Manila, Philippines</p>
		<p>Glorietta 4 Cinemas, 4th Level Glorietta 4, Ayala Center
		Makati City</p>
		<p>Greenbelt 3 Cinemas, Greenbelt Drive, Makati, Metro Manila, Philippines</p>
	</div>
</div> <!-- end of row -->
<div class = "row">
	<div class = "col-md-4" id = "moviecol">
		<h3><a href ="https://www.sureseats.com">Bonifacio High Street Cinemas</a><h3>
		<p>Bonifacio Global City, 30th Street, Taguig, Metro Manila, Philippines</p>
	</div>
	<div class = "col-md-4" id = "moviecol">
		<h3>Farmer's plaza Cinemas<h3>
		<p>General Araneta Street Araneta Centercubao, Metro Manila, Philippines
		(02) 911 1763</p>
	</div>
	<div calass = "col-md-4" id = "moviecol">
		<h3>Sta. Lucia East Grand Mall</h3>
		<p>Lighthouse Bible Baptist Church, Cainta, 1900 Rizal, Philippines
		(02) 681 5401</p>
	</div>

</div> <!-- end of row -->
<p>Find me in app/views/static_pages/cinemas.html.erb</p>
