
<div class = "row">
	<div class = "col-md-3">
		<%= image_tag("movie 1.jpg", :size => "300x400", :alt => "Johnny English") %>
		<div></div>
		<p>Pascal Sauvage (John Malkovich), a villain intent on stealing Britain's Crown Jewels, has murdered the country's top undercover agents, and mediocre spy Johnny English (Rowan Atkinson) is ordered to prevent further mayhem. But even with help from quick-thinking sidekick Bough (Ben Miller), the goofy agent lands himself in one precarious situation after another. Only when he meets up with Interpol crime-fighter Lorna Campbell (Natalie Imbruglia) is Johnny able to chip away at Pascal's defenses.</p>
	</div>
	<div class = "col-md-3">
		<%= image_tag("movie 2.jpg", :size => "300x400", :alt => "Black Swan") %>
		<div></div>
		<p>Nina (Natalie Portman) is a ballerina whose passion for the dance rules every facet of her life. When the company's artistic director decides to replace his prima ballerina for their opening production of "Swan Lake," Nina is his first choice. She has competition in newcomer Lily (Mila Kunis) however. While Nina is perfect for the role of the White Swan, Lily personifies the Black Swan. As rivalry between the two dancers transforms into a twisted friendship, Nina's dark side begins to emerge.</p>
	</div>
	<div class = "col-md-3">
		<%= image_tag("movie 3.jpg", :size => "300x400", :alt => "The Broken") %>
		<div></div>
		<p>In London, the radiologist Gina McVey organizes a surprise birthday party to her father John McVey with her boyfriend Stefan Chambers, her brother Daniel McVey and his girlfriend Kate Coleman. On the next day, she sees herself driving a car on the street and she follows the woman to her apartment, where she finds a picture of her father and her. While driving back, she has a car crash and loses parts of her memory; further, she believes Stefan is another man. Gina decides to investigate what is happening and unravels a dark reality.</p>
	</div>
	<div class = "col-md-3">
		<%= image_tag("movie 4.jpg", :size => "300x400", :alt => "La Grande Bellezza") %>
		<div></div>
		<p>Jep Gambardella has seduced his way through the lavish nightlife of Rome for decades, but after his 65th birthday and a shock from the past, Jep looks past the nightclubs and parties to find a timeless landscape of absurd, exquisite beauty.</p>
	</div>

</div> <!-- end of row -->
	



<h1>StaticPages#movies</h1>