

h1 {
	font: 50px 'Roboto400', sans-serif;
	font-weight: 400;
	color: white;
	margin-bottom: 10px;
	padding: 20px 20px 5px 20px;
}

h2 {
	font: 1.3em 'Roboto400', sans-serif;
	font-weight: normal;
	color: white;
	padding: 10px 10px 10px 20px;
}

html {
	background-color: #2A1145;
}

/* -------- Sections ---------*/

.header {
	background-color: #2A1145;
}

