
h1 {
	font: 50px 'Roboto400', sans-serif;
	font-weight: 400;
	color: white;
	margin-bottom: 10px;
	padding: 20px 20px 5px 20px;
}

h2 {
	font: 1.2em 'Roboto400', sans-serif;
	font-weight: normal;
	color: #fff;
	padding: 10px 10px 10px 20px;
}

h3 {
	color: #2A1145;
}

h3.timestamp {
	color: #fff;
}

p {
	font: 1.0 'Roboto400', sans-serif;
	font-weight: normal;
	color: #2A1145;
	padding: 10px 10px 10px 20px
}
html {
	background-color: #2A1145;
}


/*====================Nav Bar===========================*/
.site-title a {
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px;
}

.menu-header {
	background:#000; 
	position: fixed;
	z-index: 9999;
}

.button {
	background-color: #fff;
}
.navbar {
	border:none !important;
}

.navbar a {
	color: #fff;
	font: 1.3em 'Roboto400', sans-serif;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:focus {
	outline: 0;
	color: #fff;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: #A858FF;
	color: #2A1145;
}

.page .nav  a {
	color:#363636;
}

.page .nav .dropdown-menu  a {
	color:#fff;
	background: #000;
}

.page .top-nav-collapse a {
	color:#fff;
}

.top-nav-collapse {
	background: #000;
}

.site-title {
    font-weight: 700;
	font-size: 24px;
	line-height: 48px;
    margin-left: 15px;
}

.page .site-title  {
	color:#363636;
}

.site-title:hover {
	text-decoration:none;
}

li.searchbox {
	font: 1.2em 'Roboto400', sans-serif;
	font-weight: normal;
	color: #fff;
	padding: 5px;
}

searchbutton {
	width: 10px;
	font: 1.0em 'Roboto400', sans-serif;
	font-weight: normal;
	color: #000;

}

searchtext {
	width: 10px;
	font-weight: normal;
	color: #000;
}

/* -------- Header Section ---------*/

.header {
	background-color: #2A1145;
}
.timestamp {
	float: right;
	padding: 10px 20px 10px 10px
}

.select-style select {
	-webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-color: #FFF; /* fallback color if gradients are not supported */
    color: #2A1145;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    border-style: solid;
    border-width: 2px;

}

/* -----------  Carousel -----------*/

.style-image {
	width: 100%;
} 
